<html>
<head>
<title>Integration with VUE 2</title>
<script src="../../lib/webbus.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../_components/hello_world_vue.js"></script>
</head>
<body>
  <h1>VUE based component</h1>
	<div id="hello" class="webbus_container" data-logic="hello_world">
		<p>{{ message }}</p>
		<button v-on:click="button_was_clicked">Click Me</button>
	</div>
	<h1>Vanilla JS component</h1>
	<div id="integration_test" class="webbus_container" data-logic="integration">
	   <p>Button has been clicked <span class="button_count">0</span> times.</p>
	   <input type="text" class="input_text" /><button class="send_button">Sent text</button>
	</div>
</body>
<script type="text/javascript" >
var wb = new _webbus_factory({});
wb.register("hello_world", FACTORY_vue_test);
wb.register("integration", FACTORY_test_interaction);
wb.autostart();
</script>
</html>