.clearfix {
	clear: both;
}

.webbus--tab-box__tabs-container .selected {
	background-color: white;
	border-right: 0px;
}

.webbus--tab-box {
	position: relative;
}

.webbus--tab-box__tabs-container {
	list-style: none;
	padding: 0px;
	border: 0px;
	margin: 0px;
	float: left;
}

.webbus--tab-box__tab {
	position: relative;
	display: block;
	width: 82px;
	border: 1px solid #cccccc;
	background-color: #ebebeb;
	border-top-left-radius: 11px;
	border-bottom-left-radius: 11px;
}

.webbus--tab-box__tab-label {
	display: block;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
}

.webbus--tab-box__tab-shortcut-label {
	display: block;
	text-align: center;
	font-size: 9px;
}

.webbus--tab-box__tab .icon {
	display: block;
	text-align: center;
	font-size: 28px;
}

.webbus--tab-box__tab a,
.webbus--tab-box__tab a:active,
.webbus--tab-box__tab a:visited {
	display: block;
	color: black;
	text-decoration: none;
	padding: 11px;
}


.webbus--tab-box__views-container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 82px;
	right: 0px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	overflow: auto;
}

.webbus--tab-box__view {
	padding: 21px;
}