.webbus-menu__menu-is-top-menu {
	list-style: none;
	position: relative;
	display: inline-block;
	padding: 3px;
}

.webbus-menu__menu-is-top-menu > li {
	display: inline-block;
	position: relative;
	height: 22px;
	list-style: none;
	margin: 0px;
	padding: 3px;
	border: 0px;
	white-space: nowrap;
	color: black;
	font-style: normal;
	cursor: pointer;
	border-right: 1px solid black;
}

.webbus-menu__menu-is-top-menu > .webbus-menu__item__last {
	border-right: 0px;
}

.webbus-menu__menu-is-sub-menu > li {
	display: block;
	position: relative;
	height: 22px;
	list-style: none;
	margin: 0px;
	padding: 3px;
	border: 0px;
	white-space: nowrap;
	color: black;
	font-style: normal;
	cursor: pointer;
}

.webbus-menu__menu-is-sub-menu {
	display: block;
	position: absolute;
	top: 22px;
	left: 22px;
	background-color: white;
	border: 1px solid black;
}

.webbus-menu__menu-is-sub-menu {
	padding: 0px;
}

.webbus-menu__menu-has-sub-menu > span {
	font-style: italic;
}

.webbus-menu__item__is-expanded {
	color: white;
	background-color: cyan;
}